# 제어문

## 조건문 (if문)

1. if문은 반드시 참/거짓을 판단 할 수 있는 `조건식`과 함께 사용한다.
    - `if <조건식>:`
2. `<조건식>` 참인경우 : `:` 이후의 문장을 실행
3. `<조건식>` 거짓인경우 : `else:` 이후의 문장을 실행

```
if <조건식>:
    if의 조건식이 참인 경우 실행하는 코드
else:
    if의 조건식이 거짓인 경우 실행하는 코드
```

In [2]:
my_string = input()
print(my_string)

if my_string == '12/25':
    print('merry christmas!')
else:
    print('No')

 12344

12344
No

In [6]:
num = input('숫자를 입력해주세요')

if int(num) % 2 == 1:
    print('odd')
else:
    print('even')

숫자를 입력해주세요 10

even

In [10]:
num = int(input())

if num % 2 == 1:
    print('odd')
else:
    print('even')

 1

odd

In [11]:
num = int(input())

if num % 2 == 0:
    print('even')
else:
    print('odd')

 2

even

In [13]:
num = int(input())

if num % 2:
    print('odd')
else:
    print('even')

ValueError: invalid literal for int() with base 10: ''

In [19]:
num = int(input('5의배수를 판단해드리겠습니다.'))

if num % 5 == 0:
    print('yes')
else:
    print('no')

5의배수를 판단해드리겠습니다. 10

yes

In [20]:
num = int(input())

if num % 5:
    print('no')
else:
    print('yes')

 10

yes

### elif

```
if <조건식>:
    if문이 참인경우
elif <조건식>:
    elif문이 참인경우
else:
    위의 모든 조건식이 거짓인 경우
```

In [27]:
score = int(input())

if score >= 90:
    print('A')
    if score >= 95:
        print('good!!!')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('F')

 99

A
good!!!

### 조건표현식
- `true_value if <조건식> else false_value`

In [5]:
a = 0
if False:
    a = 100
else:
    a = -100
print(a)

-100

In [7]:
a = 100 if False else -100
print(a)

-100

In [9]:
num = int(input())

if num >= 0:
    result = num
else:
    result = 0
print(result)

 -100

0

In [11]:
num = int(input())

result = num if num >= 0 else 0
print(result)

 -10

0

In [13]:
num = 9

result = '홀수' if num % 2 else '짝수'
print(result)

홀수

In [15]:
num = 10

if num % 2:
    result = '홀수'
else:
    result = '짝수'
print(result)

짝수

## 반복문

### while문
```
while <조건식>:
    실행할 코드
```

In [18]:
a = 0

while a < 5:
    print(a)
    # a += 1
    a = a + 1

0
1
2
3
4

### for 문
- 정해진 범위 내의 반복
```
for var_name in sequence:
    code
```

In [1]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    # number = 1
    print(number)

1
2
3
4
5

In [8]:
word = 'apple'

for char in word:
    print(char)

a
p
p
l
e

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [12]:
numbers = range(1, 51)

for number in numbers:
    if number % 5 == 0:
        print(number)

5
10
15
20
25
30
35
40
45
50

In [14]:
locations = ['서울', '대전', '부산']
for location in enumerate(locations):
    print(location)

(0, '서울')
(1, '대전')
(2, '부산')

In [16]:
locations = ['서울', '대전', '부산']
for (index, location) in enumerate(locations):
    print(index)
    print(location)

0
서울
1
대전
2
부산

### dictionary 반복
1. for key in dict:
2. for key in dict.keys():
3. for value in dict.values():
4. for key, value in dict.items():

In [33]:
info = {
    'name': 'gildong',
    'location': 'seoul',
    'phone': '010-1234-1234',
    'age': 20,
}

In [21]:
for k in info:
    print(k)

name
location
phone
age

In [26]:
for k in info.keys():
    print(k, info[k])
    # print()

name gildong
location seoul
phone 010-1234-1234
age 20

In [24]:
for v in info.values():
    print(v)

gildong
seoul
010-1234-1234
20

In [25]:
for k, v in info.items():
    print(k, v)

name gildong
location seoul
phone 010-1234-1234
age 20

In [27]:
blood_type = {
    'A': 15,
    'B': 8,
    'O': 5,
    'AB': 4,
}

In [29]:
# 혈액형은 ~가 있습니다.
print('혈액형 종류는 다음과 같습니다.')

for blood in blood_type:
    print(blood)

혈액형 종류는 다음과 같습니다.
A
B
O
AB

In [30]:
# 총 학생은 몇명 입니다.
result = 0
for number in blood_type.values():
    result = result + number
print(result)

32

In [31]:
for k, v in blood_type.items():
    print(f'{k}형은 {v}명입니다.')

A형은 15명입니다.
B형은 8명입니다.
O형은 5명입니다.
AB형은 4명입니다.

### break
반복문을 종료 시키는 키워드

In [36]:
for i in range(100):
    print('여기는 for문', i)
    if i > 5:
        print('여기는 브레이크')
        break

여기는 for문 0
여기는 for문 1
여기는 for문 2
여기는 for문 3
여기는 for문 4
여기는 for문 5
여기는 for문 6
여기는 브레이크

In [39]:
while True:
    rice = input()
    if rice == '쌀':
        print('잡았다!!!!')
        break

 asdf
 asdf
 보리
 ㅂㅗ리
 볼ㅣ
 볼ㅣ
 쌀

잡았다!!!!

### continue

continue 이후의 코드를 실행하지 않고 다음 반복을 진행

In [41]:
for i in range(20):
    if i % 2 == 1:
        continue
    print(i)

0
2
4
6
8
10
12
14
16
18

In [42]:
ages = [10, 20, 30, 23, 43, 9, 20]
for age in ages:
    if age < 20:
        continue
    print(f'{age}살을 성인입니다.')

20살을 성인입니다.
30살을 성인입니다.
23살을 성인입니다.
43살을 성인입니다.
20살을 성인입니다.

### else
else 문은 끝까지 반복된 경우 실행됩니다.
break를 만나지 않은경우 실행

In [45]:
for i in range(10):
    if i > 100:
        break
    print(i)
else:
    print('모두완료!!!')

0
1
2
3
4
5
6
7
8
9
모두완료!!!

In [47]:
for i in range(5):
    pass